:root {
  font-size: 16px;
  color: black;
  line-height: 1.5rem;
  font-family: "Helvetica Neue", "Calibri", "Segoe UI", "Arial",
    "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo UI", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --primary: #82a0aa;
  --secondary: #b4c6cc;
  --tertiary: #3c5d69;
  --middle-blue: #2b72b3;
  --custom-red: #e31f26;
  --custom-gray1: #567783;
  --custom-gray2: #82a0aa;
  --custom-gray3: #223f4b;
  --custom-blue: #006487;
  --custom-yellow: #dc6914;
  --custom-green: #647d2d;
  --custom-purple: #6e1e4b;
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);
  --tertiary-color: var(--tertiary);
  --accent-color: var(--middle-blue);
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  color: var(--tertiary-color);
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

a:hover {
  color: var(--accent-color);
}

a.headerlink {
  color: transparent;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
  padding-inline-start: 0.5rem;
}
ul li {
  list-style-type: none;
  padding-left: 1.0rem;
  position: relative;
}
ul li::before {
  position: absolute;
  left: 0;
  content: "\25a0";
  color: var(--primary-color);
}

ul.nav-menu {
  display: flex;
  padding-right: 1rem;
}

ul.nav-menu li {
  marker: none;
  list-style-type: none;
}

div.header {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 2.25rem;
}
div.header a {
  dsipaly: flex;
  align-items: center;
  align-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--white);
  padding-left: 1rem;
  vertical-align: middle;
}
div.header a:hover {
  color: var(--accent-color);
}
div.header a h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  vertical-align: middle;
  height: 100%;
}
div.header ul {
  display: flex;
  align-items: center;
  align-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  vertical-align: middle;
  padding-right: 1rem;
}
div.header ul li {
  align-self: center;
}
div.header ul li img{
  padding:0;
  margin:0;
  display: inline;
  vertical-align: middle;
}


div.content {
  margin-bottom: 0;
  height: calc(100lvh - 2.25rem - 1.7rem);
  width: 100lvw;
  display: flex;
  overflow: hidden;
}

div.document {
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: auto;
  height: 100%;
  width: calc(100lvw - 38rem);
}

div.sidebar {
  padding-left: 2rem;
  width: 15rem;
  height: 100%;
  overflow-y: visible;
  border-right: 1px solid var(--secondary-color);
  /* position: fixed;
  left: 0; */
}

div.right-sidebar {
  width: 15rem;
  height: 100%;
  padding-left: 2rem;
  overflow-y: scroll;
  border-left: 1px solid var(--secondary-color);
  float: right;
  position: fixed;
  right: 0;
}

div.footer {
  color: white;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.7rem;
}

pre {
  padding: 1rem;
}

div.relations {
  display: flex;
  justify-content: space-between;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

div.relations .arrow-left {
  color: var(--primary-color);
  position: relative;
  display: inline-block;
  padding-left: 1rem;
}
div.relations .arrow-left:hover {
  color: var(--accent-color);
}
div.relations .arrow-left:before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  border: 0;
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
  transform:  rotate(-45deg);
}

div.relations .arrow-right {
  color: var(--primary-color);
  position: relative;
  display: inline-block;
  padding-right: 1rem;
}
div.relations .arrow-right:hover {
  color: var(--accent-color);
}
div.relations .arrow-right:before {
  content: "";
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  border: 0;
  border-top: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
  transform:  rotate(45deg);
}

div.documentparents ul{
  display: flex;
  list-style-type: none;
  padding-left: 0rem;
  padding-inline-start: 0;
}
div.documentparents ul li:before {
  content: "»";
  padding-left:0.25rem;
}
div.documentparents ul li:first-child {
  padding-left: 0;
}
div.documentparents ul li:first-child:before {
  content: "";
}

search#searchbox {
  padding-top: 1rem;
}

.img-light {
  display: inline-block;
  filter: invert(100%);
}