:root {
  font-size: 14px;
  color: black;
  line-height: 1.5rem;
  font-family: "Helvetica Neue", "Calibri", "Segoe UI", "Arial",
    "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo UI", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --primary: #82a0aa;
  --secondary: #b4c6cc;
  --tertiary: #3c5d69;
  --middle-blue: #2b72b3;
  --custom-red: #e31f26;
  --custom-gray1: #567783;
  --custom-gray2: #82a0aa;
  --custom-gray3: #223f4b;
  --custom-blue: #006487;
  --custom-yellow: #dc6914;
  --custom-green: #647d2d;
  --custom-purple: #6e1e4b;
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);
  --tertiary-color: var(--tertiary);
  --accent-color: var(--middle-blue);
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

div.related {
  color: white;
  background-color: var(--primary-color);
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}